@import "custom";
@import "~bootstrap/scss/bootstrap";

.header_image {
  height : 250px;
  min-height : 250px;

  img {
    object-fit: contain;
    //min-width: 100%;
    width: auto;
    height: auto;
    min-height: 100%;
    }
  }

.side_image {
  &-container {
    top      : 0;
    position : fixed;
    height   : 100%;

    &.float-end {
      right : 0;
      }

    &.float-start {
      left : 0;
      }
    }
  }

.admin-bar nav.navbar {
  top : 25px;
  }